<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/styles/index.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/indexListener.js"></script>

  </head>

  <body>
    <header>
      <%- include('./nav') %>
      <div class="main">
      <% if (!user_id) { %>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="item active">
            <img class="d-block" src="./images/gaming.jpg" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
              <h2>TRY YOUR KNOWLEDGE ON A BROAD VARIETY OF GENRES</h2>
              <p><b>We've got quizzes for any genre you can think of!</b></p>
            </div>
          </div>
          <div class="item">
            <img class="d-block" src="./images/music.jpg" alt="Second slide">
            <div class="carousel-caption d-none d-md-block">
              <h2>WANT TO CREATE A QUIZ? WANT TO SHARE IT?</h2>
              <p><b>Want to test others? Want to share your quiz to the public? Do it all!</b></p>
            </div>
          </div>
          <div class="item">
            <img class="d-block" src="./images/movies.jpg" alt="Third slide">
            <div class="carousel-caption d-none d-md-block">
              <h2>DO YOU HAVE WHAT IT WHAT TAKES?</h2>
              <p><b>Take a quiz and find out now!</b></p>
            </div>
          </div>
        </div>
        <% } %>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6" id="user-made-quizzes">
                <h2>
                  <%= name %>'s Quizzes
                </h2>
                <p>
                  Here's a list of quizzes made by you!
                </p>
                <table class="table" id="user-quizzes">
                  <thead>
                    <tr>
                      <th>
                        Take Quiz
                      </th>
                      <th>
                        Name of Quiz
                      </th>
                      <th>
                        Category of Quiz
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td id="user-quiz-id-number">
                      </td>
                      <td id="user-name-of-quiz">
                      </td>
                      <td id="user-category-of-quiz">
                      </td>
                    </tr>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-md-6">
                <h2>
                  Public Quizzes
                </h2>
                <p>
                  Here's a list of quizzes made by anyone!
                </p>
                <table class="table" id="private-quizzes">
                  <thead>
                    <tr>
                      <th>
                        Take Quiz
                      </th>
                      <th>
                        Name of Quiz
                      </th>
                      <th>
                        Category of Quiz
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td id="public-quiz-id-number">
                      </td>
                      <td id="public-name-of-quiz">
                      </td>
                      <td id="public-category-of-quiz">
                      </td>
                     </tr>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-md-6" id="private-data">
                <h2>
                  <%= name %>'s Private Quizzes
                </h2>
                <p>
                  Here's a list of quizzes you've chosen to not make Public (yet)!
                </p>
                <table class="table" id="user-private-quizzes">
                  <thead>
                    <tr>
                      <th>
                        Take Quiz
                      </th>
                      <th>
                        Name of Quiz
                      </th>
                      <th>
                        Category of Quiz
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td id="user-private-quiz-id-number">
                      </td>
                      <td id="user-private-name-of-quiz">
                      </td>
                      <td id="user-private-cat-of-quiz">
                      </td>
                    </tr>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
