<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/trophyCase.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/resultsListener.js"></script>
</head>
<header>
  <%- include('./nav') %>
</header>
<body>
  <br>
  <div class="main-container">
    <form id="quizzes-done">
      <p id="all-time">ALL Time</p>
      <!-- <p class="quizzes-completed">Quiz 1</p>
      <p class="quizzes-completed">Quiz 2</p>
      <p class="quizzes-completed">Quiz 3</p> -->
    </form>
    <div id="results-box">
      <h3>RESULTS</h3>
      <div id="results-container">
        <% if (locals.results) { %>
          <p id="flag"><%=locals.results.title%></p>
          <p><%=locals.results.total%>/50</p>
          <% } %>
      </div>
    </div>
  </div>
</body>

</html>
