.create-quiz {
color:black;
font-family: 'Russo One', sans-serif;
font-size: 20px;
}
.white{
  color: white;
}
#create-quiz-button {
  background-color: #f6b834 !important;
  color: #777;
  font-size: 25px;
}
