.navbar-brand {
  font-size: 50px;
}
.navbar-header {
  padding-top: 30px;
}
#navbarCollapse {
  font-size: 25px;
  padding-top: 30px;
}
.btn-primary{
  background-color: #f6b834 !important;
  color: #777;
  font-size: 25px;
}
.user {
  color: #777;
  font-size: 25px;
  padding-bottom: 10px;
}
