.navbar-brand {
  font-size: 50px;
}

#navbarCollapse {
  font-size: 25px;
}
.btn-primary{
  background-color: #f6b834 !important;
  color: #777;
  font-size: 25px;
}
.user {
  color: #777;
  font-size: 25px;
}
