.quiz-box {
  color: white;
font-family: 'Russo One', sans-serif;
font-size: 40px;
}

#a {
    background-color: #f6b834;
    color: white;
    font-size: 35px;
  }
#b {
    background-color: #f6b834;
    color: white;
    font-size: 35px;
  }
#c {
    background-color: #f6b834;
    color: white;
    font-size: 35px;
  }
#d {
    background-color: #f6b834;
    color: white;
    font-size: 35px;
  }
